#BookSubHeader {
    width: 100%;
    height: 75px;

    background-color: #292929;
    display: flex;
}

.BookSubPreBTN {
    filter: invert(1);
    display: flex;
    flex-direction: column;

}
#BookSubPreTxt {
    filter:invert(2);
    text-decoration-line: none;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #f7f7f7; /* 브라우저 기본 배경 색상 */
}

#BookSubC {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
}

#BookNote {
    width: 1200px;
    height: 700px;
    background-color: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    margin-top: 70px;
    padding: 20px;

    display: flex;
}

#BookNoteL {
    width: 600px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-right: 1px dotted #999999
}

#BookNoteL > img {
    height: 100%;
}

#BookNoteR {
    width: 600px;
    height: 700px;
    padding: 25px;
    background: 
        linear-gradient(to bottom, transparent calc(100% - 1px), #cacaca calc(100% - 1px)) repeat-y;
    background-size: 100% 2em; /* 각 줄의 간격 설정 (2em마다 밑줄) */
    font-family: "Arial", sans-serif;
    font-size: 1em;
    line-height: 2em; /* 줄 높이와 배경의 간격을 맞춤 */
    position: relative;
    color: #333;
}

@font-face {
    font-family: '강부장님';
    src: url('/public/font/nanumkangbujang.ttf') format('woff');
}

#BookNoteR > #BookNoteR1 {
    margin: 0;
    padding-top: 6px; /* 텍스트를 살짝 안쪽으로 들여쓰기 */
    display: inline-block;
}

#BookNoteR > p {
    font-family: '강부장님';
    font-size: 22px;
}
