#HC {
    width: 100%;
    height: 75px;

    display: flex;
    justify-content: center;

    background-color: #292929;
    position: relative;
}

#SearchC {
    width: 50%;
    height: 50px;

    margin: auto;
    display: flex;
    padding: 10px;
    justify-content: end;

    background-color: #f7f7f7;
    border-radius: 10px;
}
#SearchC > input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 18px;
}

#SearchC > img {

}